* {
    padding: 0;
    margin: 0;
}

:root {

    --primary: #1C1B1B;
    --secondary: #8C8C8C;
    --background: #FFFFFF;
    --tertiary: #F4F4F4;
}

html {
    font-size: 16px;
}


#root {
    color: var(--primary);
    background-color: var(--background);
    box-sizing: border-box;
}

a {
    color: var(--primary);
    font-size: 1.5rem; 
    text-decoration: none;
}

a:visited {
    text-decoration: underline;
}

a:focus {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
    color: var(--secondary);
}

a:active {
    text-decoration: underline;
}

header {
    z-index: 10;
    position: sticky;
    top: 0px;
    background-color: #FFFFFFDC; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    width: 100vw;
}

/*greeting / home*/

/*make greeting p flow from right to left*/

.wrapper {
    display: flex;
    flex-direction: row;
    height: 20vh;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
}

.target {
    font-weight: bold;
    font-size: 3vw;
    animation-name: rightToLeft;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes rightToLeft {
0% {
    transform: translateX(100vw);
}
100% {
    transform: translateX(-100vw);
}

}

.first,.second {
    height: 70vh;

}

.first h1, .second h2 {
    text-align: center;
    margin-top: 20vh;
    font-size: 5rem;
}

.first p {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    width: 50vw;
    margin: 2rem auto;
}

.second ul {
    display: flex;
    width: 60vw;
    margin: 0 auto;
    justify-content: space-around;
}

.second ul li {
    font-size: 2rem;
    font-weight: bold;
}

